@charset "utf-8";
body {
  margin: 0;
  background: azure;
}
div {
  width: 300px;
  text-align: center;
  margin: 16px auto;
  border-radius: 16px;
  background: lightblue;
  padding: 8px;
}
h1 {
  margin: 0;
  color: white;
  font-size: 28px;
}
p {
  margin: 0;
  color: white;
}
@media (min-width: 600px) {
  div {
    width: 400px;
  }
}
